<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>String:</strong>
    <%= book.string %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>String:</strong>
    <%= book.string %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>String:</strong>
    <%= book.string %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= book.available %>
  </p>

  <p>
    <strong>Boolean:</strong>
    <%= book.boolean %>
  </p>

</div>
